@using IID.WebSite.Helpers
@using login = IID.BusinessLayer.Globalization.Login.Resource

@model IID.WebSite.Models.ResetPasswordViewModel
@{
    ViewBag.Title = login.ResetPassword;
}

<div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4>@login.ResetPassword</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "error list-style-type-none" })

        @Html.HiddenFor(model => model.Code)
        <table class="form-table">
            <tbody>
                <tr>
                    <td>@Html.LabelForForm(m => m.EmailAddress)</td>
                    <td>@Html.TextBoxFor(m => m.EmailAddress, new { @class = "width-400" })</td>
                    <td>@Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "error" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelForForm(m => m.Password)</td>
                    <td>@Html.PasswordFor(m => m.Password, new { @class = "width-400" })</td>
                    <td>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelForForm(m => m.ConfirmPassword)</td>
                    <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "width-400" })</td>
                    <td>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })</td>
                </tr>
                <tr>
                    <td class="text-align-center" colspan="2"><input type="submit" value="@login.ResetPassword" /></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}