@using common = IID.BusinessLayer.Globalization.Common.Resource
@using error = IID.BusinessLayer.Globalization.Error.Resource
@using IID.BusinessLayer.Identity;
@using IID.WebSite.Helpers;
@using IID.WebSite.Models;

@model User

@{
    ViewBag.Title = "Edit User: " + Model.FullName;
    string cancelHref = Identity.CurrentUser.IsInRole(Role.SystemAdministrator) ? "~/User/Manage" : "~/Request/View";
}

<script type="text/javascript">
    $(document).ready(function () { setAreYouSure('@error.UnsavedChanges'); });
</script>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserId)
    <section class="max-width-max">
        <div class="header">
            <div class="float-left title">@Model.FullName</div>
            <div class="float-right button">
                <a class="btn btn-primary" href="@Url.Action(cancelHref)">
                    @common.Cancel
                    <img src="~/Images/icons/16/close_delete.png" />
                </a>
                <button type="submit">
                    @common.Save
                    <img src="~/Images/icons/16/save_diskette_floppy_disk.png" />
                </button>
            </div>
            <div class="clear-floats"></div>
        </div>
        <div class="content">
            @Html.Partial("~/Views/User/Form.cshtml", Model)
        </div>
    </section>
}

@Html.Partial("~/Views/User/Assign.cshtml", Model)